.header__title {
  text-align: center;
}

.header__icon {
  height: 24px;
  margin-right: 1rem;
}

.header__logout {
  cursor: pointer;
  position: absolute;
  right: 2em;
  top: 2em;
}

.header__columns {
  display: flex;
}

.header__columns > h2 {
  flex: 0 0 400px;
  text-align: center;
}
